body{
    display: block;
    flex-direction: column;
    height: 100vh;
    color: antiquewhite;
    margin: 0;
}
.page1{
    background-color: black;
    text-align: center;
    border: 0;
    
}
.flex-container{
    height: 100%;
    display: flex;
    background-color: black;
    object-fit: contain;
}
.centered-div{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    padding: auto;
    margin: 10%;
}