body{
    font-family: "poppins";
}
.page1{
    height: 100vh;
    background-color: black;
    color: antiquewhite;
    font-family: "roboto mono", sans-serif;
}
.page2{
    border: 0;
    margin: 0;
    padding: 0;
}
.page3{
    height: 100vh;
}
.imagebox{
    width: 100%;
    height: auto;
}
h1, h2{
    text-align: center;
}